.shops
  .container
    .row
      .col-sm
        %h1 shops
    .row
      .col-sm
        - @shops.each do |shop|
          .card.mb-3
            .card-body
              = link_to "Shop # #{shop.id}", shop, class: 'btn btn-dark'