.shops
  .container
    .row
      .col-sm
        %h1 shop # #{@shop.id}
    .row
      .col-sm
        - @stocks.each do |stock|
          .card.mb-3
            .card-title
              .text-center
                %h5= stock.product.title
            .card-body
              %b="#{(stock.price * 1.25).to_i}$"
            .card-footer
              =form_for Sale.new, :remote => true do |f|
                .field
                  = f.hidden_field :shop_id, value: @shop.id
                  = f.hidden_field :buyer_id, value: current_user.id
                  = f.hidden_field :product_id, value: stock.product.id
                .action
                  = f.submit "Buy", class: "btn btn-outline-success"