= form_for @seller do |f|
  - if @seller.errors.any?
    #error_explanation
      %h2= "#{pluralize(@seller.errors.count, "error")} prohibited this seller from being saved:"
      %ul
        - @seller.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
