= form_for @stock do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :shop_id
    = f.text_field :shop_id
  .field
    = f.label :product_id
    = f.text_field :product_id
  .field
    = f.label :count
    = f.text_field :count
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
