.stocks
  .container
    .row
      .col-sm
        =link_to '< Stocks', stocks_path, class: 'btn btn-outline-dark'
      .col-sm
        %h1 Transfer the stock
    .row
      .col-sm
        = form_for @stock do |f|
          .field
            = f.label 'To shop (id):'
            = f.text_field :shop_id
          .field
            = f.label 'Product (id):'
            = f.text_field :product_id
          .field
            = f.label "Count (max #{@stock.count}):"
            = f.text_field :count
          .actions
            = f.submit 'Transfer', class: 'btn btn-outline-success'
