.stocks
  .container
    .row
      .col-sm
        %h1 Stocks at shop # #{current_user.shop_id}
      .col-sm
        = link_to 'New Stock', new_stock_path, class: 'btn btn-success'
    .row
      .col-sm
        %table
          %thead
            %tr
              %th
                %h2 Product
              %th
                %h2 Count
              %th
                %h2 Price
              %th
                %h2 Transfer
              %th
                %h2 Delete

          %tbody
            - @stocks.each do |stock|
              %tr
                %td= Product.find(stock.product_id).title #not cool, but as is
                %td= stock.count
                %td
                  %b #{stock.price}$
                %td= link_to 'Transfer', edit_stock_path(stock), class: 'btn btn-warning'
    .stocks-footer
    = paginate @stocks