.stocks
  .container
    .row
      .col-sm
        .col-sm
        =link_to '< Stocks', stocks_path, class: 'btn btn-outline-dark'
        .col-sm
          %h1 new Stock
    .row
      = form_for @stock, html: { multipart: true } do |f|
        .field
          = f.collection_select :product_id, @products, :id, :title, include_blank: true, class: "dropdown-menu"
        .field
          = f.text_area :count, placeholder: 'count'
        .actions
          = f.button 'Create', class: 'btn btn-outline-dark fa fa-shopping-cart'