%p#notice= notice

%p
  %b Shop:
  = @stock.shop_id
%p
  %b Product:
  = @stock.product_id
%p
  %b Count:
  = @stock.count
%p
  %b Price:
  = @stock.price

= link_to 'Edit', edit_stock_path(@stock)
\|
= link_to 'Back', stocks_path
