/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * Some hot fix because active admin override mine styles
 *= stub "active_admin"
 *= require font-awesome
 */

@import "bootstrap";

$bg-color-main: #F2F2F2;
$bg-color-secondary: #F9F9F9;
$bg-color-additional: #959595;
$text-color-main: #151515;
$text-color-secondary: #252525;
$text-color-additional: #454545;

body {
  background-color: $bg-color-main;
  height: 100vh;
  .container-fluid {
    padding: 0;
  }
}

/*Main container*/
.wrapper {
  position: relative;
  min-height: 99vh;//hot fix for hide scroll bar
}

/*
header style
*/

.header {
  .container-btns {
    padding-right: 5%;
  }
}

/*
notification style
*/

.notification {
  width: 100%;
  margin: auto;
  text-align: center;

  .notice {
    background-color: rgba(242, 242, 242, 0.7);
  }

  .success {
    background-color: rgba(131, 255, 164, 0.7);
  }

  .danger {
    background-color: rgba(164, 41, 46, 0.7);
  }

  .alert {
    background-color: rgba(248, 171, 82, 0.7);
  }
}


/*
content style
*/

.content {
  padding-bottom: 50px;
}

/*
footer style
*/

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/*
Custom style for h text
*/

h1, h2, h3, h4, h5, h6 {
  color: $text-color-main;
  font-weight: 600;
  //line-height: 1.5;
  //margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/*
custom color for selected text
*/

::-moz-selection{
  color: rgba(255, 193, 7, 0.9);
}

::selection{
  color: rgba(255, 193, 7, 0.9);
}

/*
custom color for text
*/

p {
  color: $text-color-secondary
}

.i {
  color: $text-color-secondary;
}

.em {
  color: $text-color-secondary;
}

a {
  color: $text-color-secondary;
}

a:hover {
  color: $text-color-main;
}

/*
custom style for bootstrap cards
*/

.card.mb-3 {
  border-radius: 10px;
  margin: 10px;
}

.card-header {
  margin: auto;
  background-color: transparent;
}

.card-body {
  margin: auto;
  background-color: transparent;
}

.card-footer {
  margin: auto;
  background-color: transparent;
}

/*PAGE NAV STYLE*/

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #343a40;
  border-color: #fff;
  border-radius: 60px;
}

.page-item:first-child .page-link {
  border-radius: 60px;
}

.page-item:last-child .page-link {
  border-radius: 60px;
}

.pagination {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.pagination li {
  float: left;
}
.pagination ul {
  float: left;
  left: 50%;
  position: relative;
}
.pagination ul > li {
  left: -50%;
  position: relative;
}
.pagination li a {
  transition: all 100ms ease-in-out 0s;
  background-color: #343a40;
  border-radius: 60px;
  color: #F2F2F2;
  border-color: transparent;
  display: block;
  font: 12px/30px Arial, sans-serif;
  height: 60px;
  margin: 0 3px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

.pagination li a:hover {
  background-color: #F2F2F2;
  color: #343a40;
}

.pagination li.active a {
  background-color: #D0D0D1;
  color: #141719;
  border-color: transparent;
}

.pagination li.active a:hover {
  color: #151515;
}

.nav-pages-info {
  color: #F2F2F2;
}