// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome {
  background-image: url(image-path('market.jpg'));
  width: 100%;
  height: 100vh;
  padding-left: 100px;
  padding-top: 20px;

  h1, h2, h3, h4, h5, h6, p {
    color: #F2F2F2;
  }
}
