.shops
  .container
    .row
      .col-sm
        %h1 Suppliers
      .col-sm
        = link_to 'New Supplier', new_supplier_path, class: 'btn btn-outline-success'
    .row
      .col-sm
        - @suppliers.each do |supplier|
          .card.mb-3
            .card-header
              %b= supplier.product.title
            .card-body
              = "#{supplier.price}$"
            .card-footer
              = link_to 'Edit', edit_supplier_path(supplier), class: 'btn btn-outline-warning'
              = link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'