.sale-card
  .card.mb-3
    .card-header
      %h2
        =seller
    .card-body
      %h3
        = Product.find(product_id).title
      -#  this is really shit, but very-very hot fix
      %h6
        #{price}$
    .card-footer
      %p
        =created_at.strftime("%d/%m/%Y %H:%M")
      = link_to 'Delete', sale_path(id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark'