.sales
  .container
    .row
      .col-sm
        %h1 Sales at shop # #{@shop.id}
    .row
      .col-sm
        - @sales.each do |sale|
          = render 'sales/sale', id: sale.id, seller: sale.seller.name, product_id: sale.product_id, price: sale.price, created_at: sale.created_at

    .sales-footer
    = paginate @sales