.sales
  .new-sale
    .container
      = form_for @sale, html: { multipart: true } do |f|
        .field
          = f.hidden_field :seller_id, value: current_user.id
          = f.label 'Product'
          = f.collection_select :product_id, @products, :id, :title, include_blank: true, class: "dropdown-menu"
          - if @shop
            = f.label 'Buyer'
            = f.collection_select :buyer_id, @buyers, :id, :name, include_blank: true, class: "dropdown-menu"
        .actions
          = f.button 'Create', class: 'btn btn-outline-dark fa fa-shopping-cart'