%nav.navbar.navbar-dark.bg-dark
  %a.navbar-brand{:href => "/"} Marketplace
  .btn-group
    - if current_user
      -if current_user.is_a? Seller
        = link_to 'New sale', new_sale_path, class: 'btn btn-outline-success'
        = link_to 'Stocks', stocks_path, class: 'btn btn-outline-light'
      = link_to 'Log out', destroy_user_session_path, class: 'btn btn-outline-danger', method: :delete
    - else
      = link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-light'
      = link_to 'Log in', new_user_session_path, class: 'btn btn-outline-light'